{% extends "base.html" %}
{% block style_imports %}
<link rel=stylesheet href="stylesheets/blueprint.css">
<link rel=stylesheet href="stylesheets/custom.css">
<link rel=stylesheet href="stylesheets/github.css">
{% endblock %}
{% block body %}
    <ul class="listing">
    {% for post in posts %}
        <li>
            <a href="/post/{{post.key().id()}}">{{ post.subject }}</a> <span>{{ post.created.strftime('%d %b, %Y') }}</span>
        </li>
    {% endfor %}
    </div>
{% endblock %}
