<!DOCTYPE html>
<html lang=en>
<head>
	<meta charset=UTF-8>
	<meta name=viewport content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <title>Blag | {% block title %}{% endblock %}</title>
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link rel=stylesheet href="/stylesheets/blueprint.css">
    <link rel=stylesheet href="/stylesheets/custom.css">
</head>
<body>
<div class="container">
	<div class=span-12>
        <form method="post" class="newpost">
            <p>
            <input type="checkbox" name="is_quote">quote?</input>
            </p>
            <p>
            <input type="text" name="subject" placeholder="Title here" value="{{ subject }}">
            </p>
            <p>
            <img src="/static/md.png" original-title="Supports Markdown!">
            <textarea name="content" rows="8" cols="50" placeholder="Content here">{{content}}</textarea>
            </p>
            <input type="checkbox" name="is_draft" style="visibility: hidden">
            {% if error %}
            <div class="error"> {{error}} </div>
            {% endif %}
        </form>
    </div>
</div>

<div class="aside">
    <div class="save function" original-title="Publish!"></div>
    <div class="save_as_draft function" original-title ="Save as Draft!"></div>
    <a href="/drafts"><div class="view_drafts function" original-title= "View Saved Drafts"></div></a>
</div>

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/jquery.tipsy.js"></script>

<script>
    $('.save').click(function(){
        $('form').submit();
    });
    $('.save_as_draft').click(function(){
        $('input[name=is_draft]').attr('checked', true);
        $('form').submit();
    });
    $('.view_drafts').click(function(){
        $("a").click();
    });
    $('.save_as_draft').tipsy({gravity: 'w'});
    $('.save').tipsy({gravity: 'w'});
    $('.view_drafts').tipsy({gravity: 'w'});
    $('img').tipsy({gravity: 'e'});
</script>
</body>
</html>
