{% extends "base.html" %}
{% block body %}
<div class="home_text">
    <p>Hi! I'm Prakhar, a programmer, currently studying business at <a href="http://iimcal.ac.in">IIM Calcutta.</a>
    If you want to contact me, <a href="mailto: prakhar1989@gmail.com">email</a> is best</p>
</div>
<div class="main_listing">
    <ul class="listing">
    {% for post in posts %}
        <li>
            <a href="/post/{{post.key().id()}}">{{ post.subject }}</a> <span class="time">{{ post.created.strftime('%d %b, %Y') }}</span>
        </li>
    {% endfor %}
</div>
{% endblock %}
