<!doctype html>
<html>
<head>
	<meta charset=UTF-8>
	<meta name=viewport content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <title>Blag</title>
    <script type="text/javascript" src="http://use.typekit.com/ahz1kiy.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <link rel=stylesheet href="stylesheets/blueprint.css">
    <link rel=stylesheet href="stylesheets/custom.css">
    <link rel=stylesheet href="stylesheets/github.css">
</head>
<body lang="en">
<div class="container">
    <div class="sidebar span-6">
        <div class="banner">
            <h3><a href="/">Yet Another Blag.</a></h3>
        </div>
    </div>
    <div class="main span-18 last">
        {% for post in posts %}
            <div class="post">
                <h3 class="post-subject"><a href="/post/{{post.key().id()}}">{{ post.subject }}</a></h3>
                <small>Posted on {{ post.created.strftime('%d %b, %Y') }}</small>
                <div class="post-content">{{ post.content | safe }}</div>
            </div>
        {% endfor %}
    </div>
</div>
<script src="js/highlight.pack.js"> </script>
<script>hljs.initHighlightingOnLoad();</script>
</body>
	
</html>

