{% extends "base.html" %}
{% block style_imports %}
<link rel=stylesheet href="../../stylesheets/blueprint.css">
<link rel=stylesheet href="../../stylesheets/custom.css">
<link rel=stylesheet href="../../stylesheets/github.css">
{% endblock %}

{% block body %}
<div class="header_post">
    <div class="post drop-shadow">
        <h3 class="post-subject"><a href="#">{{ my_post.subject }}</a></h3>
        <div class="action-icons">
        <ul>
            <li><a href="/post/{{ my_post.key().id() }}/edit" original-title="Edit Post!"><img src="../static/edit.png"></img></a></li>
            <li><a id="delete_btn" href="/post/{{ my_post.key().id() }}/delete" original-title="Delete Post!"
                    onClick="if(confirm('Are you sure you want to delete this post?'))
                    return true; 
                    else return false;"><img src="../static/trash.png"></img></a></li>
        </ul>
        </div>
        <small>Posted on {{ my_post.created.strftime('%d %b, %Y') }}</small>
        <div class="post-content">{{ my_post.content | safe }}</div>
        <hr>
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            var disqus_shortname = 'blagonudacity';
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
</div>
{% endblock %}
